@using DataAccess.ViewModel;
@model AdminDashboard

<div class="container mt-3">
    <div class="d-flex justify-content-between mt-3">
        <div class="d-flex  ">
            <h4 class="m-0 pt-2 fs-5 fw-bold ">Add Business </h4>
        </div>
        <div>
            <button type="button" class="btn btn-outline-info p-2 pe-3 button-info tablink" id="Partners">
                <i class="bi bi-chevron-left i-info"></i>Back
            </button>
        </div>
    </div>
    <form class="mt-3 shadow p-5" id="AddBusinessForm">
        <div class="row g-2 mb-3 ">
            <div class="col-md">
                <div class="form-floating">
                    <input type="text" class="form-control" id="businessName" placeholder="Select A Profession" asp-for="@Model.AddBusinessModel.BusinessName" />
                    <label for="businessName" class="floatingLabel text-secondary">Business Name</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <select class="form-select" id="role" placeholder="Select A Profession" asp-for="@Model.AddBusinessModel.ProfessionID">
                        <option value="0" class="text-secondary">Select A Profession</option>
                        @foreach (var item in Model.healthprofessionaltypes)
                        {
                            <option value="@item.Healthprofessionalid">@item.Professionname</option>
                        }
                    </select>
                    <label for="role" class="floatingLabel text-secondary">Select A Profession</label>
                </div>
            </div>

        </div>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="businessName" placeholder="FaxNumber" asp-for="@Model.AddBusinessModel.FAXNumber" />
                    <label for="businessName" class="floatingLabel text-secondary">FaxNumber</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="tel" class="form-control" id="PhoneNumber" placeholder="Phone Number" asp-for="@Model.AddBusinessModel.PHoneNumber">
                    <label for="PhoneNumber" class="floatingLabel text-secondary">Phone Number</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="email" class="form-control" id="Email" placeholder="Email" asp-for="@Model.AddBusinessModel.Email">
                    <label for="Email" class="floatingLabel text-secondary">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="tel" class="form-control" id="BusinessContact" placeholder="Business Contact" asp-for="@Model.AddBusinessModel.BusinessContanct">
                    <label for="BusinessContact" class="floatingLabel text-secondary">Business Contact</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="Street" placeholder="Street" asp-for="@Model.AddBusinessModel.street">
                    <label for="Street" class="floatingLabel text-secondary">Street</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="City" placeholder="City" asp-for="@Model.AddBusinessModel.city">
                    <label for="City" class="floatingLabel text-secondary">City</label>
                </div>
            </div>
        </div>
        <div class="row g-2 mb-3">
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="State" placeholder="State" asp-for="@Model.AddBusinessModel.state">
                    <label for="State" class="floatingLabel text-secondary">State</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating" id="Zip">
                    <input type="text" class="form-control" placeholder="Zip/Postal" asp-for="@Model.AddBusinessModel.zip">
                    <label for="Zip" class="floatingLabel text-secondary">Zip/Postal</label>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-lg btn-success float-end m-1 ">Save</button><br />
    </form>
</div>
<script>
    // Back button
    //$(".tablink").click(TabLink);

    $('#AddBusinessForm').on('submit', function (e) {
        debugger;
        e.preventDefault();
        var data = new FormData(this);
        $.ajax({
            url: '/Admin/AddBusinessDataPost',
            method: 'POST',
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#TabContent').html(result);
                //toastr.success("Business Added successfully!");
            },
            error: function (xhr, status, error) {
                //toastr.error("Please provide valid Data!.");
            },
        });
    });


    $("#City").blur(VerifyCity);
    function VerifyCity() {
        var city = $(this).val();
        $.ajax({
            url: "/Admin/VerifyAddress",
            type: 'get',
            data: { city: city },
            success: function (data) {
                if (data.success) {
                    toastr.success(data.message);
                }
                else {
                    toastr.error(data.message);
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>