@using DataAccess.ViewModel;
@model AdminDashboard
<div>
    @if (Model.PartnerModel != null && Model.PartnerModel.Count() > 0)
    {
        @if (Model.PartnerModel.Any())
        {
            <div class="overflow-scroll d-none d-md-block">
                <table class="table table-responsive">
                    <thead class="table-secondary">
                        <tr>
                            <th scope="col">Profession</th>
                            <th scope="col">Business Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Fax Number</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Business Contact</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.PartnerModel)
                        {
                            <tr>
                                <td>
                                    @item.Profession

                                </td>
                                <td>
                                    @item.BusinessName
                                </td>
                                <td>
                                    @item.email
                                </td>
                                <td>
                                    @item.faxnumber
                                </td>
                                <td>
                                    @item.phonenumber
                                </td>
                                <td>
                                    @item.businessContact
                                </td>
                                <td>
                                    <button type="button" class="btn btn-outline-info button-info mx-2 tablink" id="UpdateBusiness" data-businessid="@item.businessId">
                                        Edit
                                    </button>
                                    <button type="button" class="btn btn-outline-info button-info case" data-bs-toggle="modal" data-bs-target="#modeldiv" id="DeleteVendor" data-vendorid="@item.businessId">Delete</button>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }

    }
    else
    {
        <div class="d-flex justify-content-center align-items-center pt-5">
            <strong class="fs-2 fw-normal text-center  text-secondary "> No Data Found </strong>
        </div>
    }
    

    <div id="my-pagination" class="d-flex justify-content-between">
        @if (Model.CurrentPage <= Model.TotalPages && Model.TotalPages > 0)
        {
            @if (Model.TotalPages != 0)
            {
                <div class="page-item disabled m-4 border-0 ">
                    @*                <span class=""> @Model.CurrentPage -  @Model.TotalPages of @Model.ToatCount</span>

            *@
                    <span class=""> @Model.CurrentPage of @Model.TotalPages</span>
                </div>
            }
            else
            {
                <div class="d-flex justify-content-center align-items-center pt-5">
                    <strong class="fs-2 fw-normal text-center  text-secondary "> No Data Found </strong>
                </div>
            }

            <div class="mb-0 float-right m-4">
                <ul class="pagination align-items-center">
                    @if (Model.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link custompartnerpagination" data-page="@(
                Model.CurrentPage - 1
                )"><i class="fa-solid fa-chevron-left"></i></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link custompartnerpagination" data-page="@(
                Model.CurrentPage - 1
                )"><i class="fa-solid fa-chevron-left"></i></a>
                        </li>
                    }


                    <li class="page-item custompartnerpagination active">
                        <a class="page-link" href="#" data-page="@Model.CurrentPage">@Model.CurrentPage</a>
                    </li>
                    @if (Model.CurrentPage < Model.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link custompartnerpagination" href="#" data-page="@(
                Model.CurrentPage + 1
                )"><i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    }
                    else
                    {
                        <li class="page-item disabled">
                            <a class="page-link custompartnerpagination " href="#" data-page="@(
                Model.CurrentPage + 1
                )"><i class="fa-solid fa-chevron-right"></i></a>
                        </li>
                    }
                </ul>
            </div>
        }
    </div>
</div>

<div class="modal fade col-sm-12" id="modeldiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modelbody modal-content">
            <div class="p-3 bg-info d-flex justify-content-between rounded-top">
                <h5></h5>
                <h5 class="modal-title text-white" id="logoutModalLabel">Alert</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-3 d-flex justify-content-center">
                <div class="text-center">
                    <i class="bi bi-exclamation-circle-fill text-warning fs-1 h-100"></i>
                    <p class="text-secondary">Are you sure? you want to delete?</p>
                </div>
            </div>
            <div class=" p-3 g-2 d-flex justify-content-center">
                <button type="button" class="btn btn-info info-button p-2 me-2 ms-2 DeleteVendor" id="confirmDeleteBtn" data-bs-dismiss="modal">
                    Delete
                </button>
                <button class="btn btn-outline-info button-info" type="button" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>

        </div>
    </div>
</div>



<script>
    //$(".tablink").click(TabLink);
    //$('.case').click(ShowModal);
    $('#modeldiv').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget); // Button that triggered the modal
        var vendorid = button.data('vendorid'); // Extract roleid from data-* attributes
        var modal = $(this);
        modal.find('#confirmDeleteBtn').attr('data-vendorid', vendorid); // Pass roleid to the delete button
    });

    $('#confirmDeleteBtn').click(function () {
        var vendorid = $(this).data('vendorid');
        // Perform delete operation using roleid
        $.ajax({
            url: "/Admin/DeleteVendorDataPost",
            method: "POST",
            data: { VendorID: vendorid },
            success: function (result) {
                $("#TabContent").html(result);
                // $('#accounttype').val(0);
                // $('#rolename').val('');
                // $('.check_menu:checked').prop('checked', false);
                // form.classlist.remove('was-validated');
                //toastr.success("Role Edited successfully!");
            },
            error: function () {
                //toastr.error("Error while Create Role");
            }
        });
        //console.log('Delete clicked for roleid:', roleid);
    });
    $('.custompartnerpagination').click(GetPartnerTable);
</script>






