@using DataAccess.ViewModel;
@model AdminDashboard
@inject IHttpContextAccessor _httpContextAccessor;

@Html.ValidationSummary(true)
<style>
    a {
        cursor: pointer;
    }
</style>
<nav class="position-sticky">
    <div class="d-flex justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="/images/Login_Page_Title.png" id="nav-icon" alt="">
        </a>

        <div class="d-flex justify-content-end m-3">
            <h4 class=" ms-4 d-lg-block d-none"> Welcome</h4>
            <h4 class=" ms-2 d-lg-block d-none"> @_httpContextAccessor.HttpContext.Session.GetString("Username")</h4>
            <div>   <button type="button" class="btn btn-outline-info  ms-3 p-2" onclick="location.href='@Url.Action("AdminLogout", "Login")'">Logout</button></div>

            <div>
                <button class="ms-3 p-2  btn btn-outline-info btn-toggle" type="button">
                    <i class="fa fa-moon i-info"></i>
                </button>
            </div>
        </div>
    </div>

</nav>
<hr>
<div class="d-none d-md-block navbar-expand-sm navbar-light shadow">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link px-4 tablink  active" aria-current="page" id="Dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 tablink" id="ProviderLocation">Provider Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 tablink" id="MyProfile">My Profile </a>
                </li>
                <li class="dropdown show">
                    <a class="nav-link text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Providers
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item  tablink" href="#" id="Providers">Provider</a>
                        <a class="dropdown-item tablink" id="Scheduling" href="#">Scheduling</a>
                        <a class="dropdown-item" href="#">Invoicing</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link px-4 tablink" id="Partners"> Partners</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Access
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item  tablink" href="#" id="Access">Account Access</a>
                        <a class="dropdown-item tablink" id="UserAccess" href="#">User Access</a>
                        <a class="dropdown-item tablink" id="CreateAdmin" href="#">Create Admin</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-muted dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Records
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item  tablink" href="#" id="Access">Account Access</a>
                        <a class="dropdown-item tablink" id="UserAccess" href="#">User Access</a>
                        <a class="dropdown-item tablink" id="BlockHistory" href="#">Block History</a>

                    </div>

                </li>

            </ul>

        </div>
    </div> 
</div>

<div id="TabContent">
</div>
@*<footer class="bg-dark text-white mt-2 fixed-bottom" id="footerMain" style="border:1px solid white">
    <div class=" d-flex justify-content-end p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <a class="text-white text-decoration-none">Term of Condition</a>&nbsp|&nbsp
        <a class="text-white text-decoration-none">Privacy Policy</a>
    </div>
</footer>*@

<script>
    var tabidglobal;
    var statusidglobal=1;
    var btnnameglobal;
    var ans=true;
    var dashboardclick = 1;
    document.addEventListener("DOMContentLoaded", function () {
        const navLinks = document.querySelectorAll(".nav-link");

        navLinks.forEach(function (navLink) {
            navLinks[0].style.borderBottom = "2px solid deepskyblue";
            navLinks[0].style.color = "deepskyblue";
            navLink.addEventListener("click", function () {
                // Remove active class from all nav links
                navLinks.forEach(function (link) {
                    link.classList.remove("active");
                    link.style.color = ""; // Reset text color
                    link.style.borderBottom = "none"; // Reset bottom border
                });

                // Add active class to the clicked nav link
                this.classList.add("active");

                // Add bottom border and change text color to "deepskyblue"
                this.style.borderBottom = "2px solid deepskyblue";
                this.style.color = "deepskyblue";
            });
        });
        navLinks[0].classList.add("active");

        // Add bottom border and change text color to "deepskyblue"
        navLinks[0].style.borderBottom = "2px solid deepskyblue";
        navLinks[0].style.color = "deepskyblue";
    });

    ////********************dashboard********************* */
    //load dashboard and tabs
    $(document).ready(function () {

        $("#Dashboard")[0].click();

    });
   
    function TabLoad() {
        var TabId = $(this).attr("id");
        var requestid = $(this).data('btn');
        var physicianid = $(this).data('id');
        var regionid = $('.filterphysician').val();
        var accounttype = $('#AccountType').val();
        var RoleName = $('#RoleName').val();
        var adminaccountfilter = $('#adminaccountfilter').val();
        var businessid = $(this).data('businessid');
        //console.log(adminaccountfilter);
        //var roleid = checkbox.getAttribute('data-roleid');
        //console.log(businessid);
        var roleid = $(this).data('roleid');
        
        if (typeof requestid === 'undefined') {
            requestid = 0;
        }
        if (typeof adminaccountfilter === 'undefined') {
            adminaccountfilter = 0;
        }
        if (typeof businessid === 'undefined') {
            businessid = 0;
        }
        if (typeof roleid === 'undefined') {
            requestid = 0;
        }
        if (typeof RoleName === 'undefined') {
            RoleName = null;
        }
        if (typeof btnname === 'undefined') {
            btnname = null;
        }
        if (typeof physicianid === 'undefined') {
            physicianid = null;
        }
        if (typeof statusid === 'undefined') {
            statusid = 0;
        }
        if (typeof regionid === 'undefined') {
            regionid = 0;
        }

            if (typeof accounttype === 'undefined') {
                accounttype = 0;
            }


            if ($(this).hasClass('tablink')) {
                tabidglobal = TabId;
            }
            var payload = {

                tabid: tabidglobal,
                requestid: requestid,
                physicianid: physicianid,
                regionid: regionid,
            accounttype: accounttype,
            roleid:roleid,
            adminaccountfilter:adminaccountfilter,
            VendorId: businessid

            };
            $.ajax({
                url: '/Admin/GetTabs',
                data: payload,

                method: 'GET',
                success: function (data) {
                    // Replace the content of the btnContent div with the retrieved partial view
                    $("#TabContent").html(data);
                    $('.filterphysician').val(regionid);
                $('#AccountType').val(accounttype);
                $('#adminaccountfilter').val(adminaccountfilter);
                $('#RoleName').val(RoleName);
                },
                error: function () {
                    console.error('Error fetching partial view.');
                }
            });

        }
   

    function PartialDisplay() {

            /*******traingle******* */
            $('.partialbtn').removeClass('active');
            $(this).addClass('active');
            $('.triangle-down').hide();
            $(this).parent().find('.triangle-down').show();
            /********new pending nd all*****/
           

            /******search and all */
            var dropdown = document.getElementById('filteradmin').value;
            var btnName = $(this).data("btn");
            var statusid = $(this).data("id");
            var reqtype = $(this).data('btn1');
            var searchValue = $('#searchInput').val();
            if (typeof reqtype === 'undefined') {
                reqtype = 0;
            }
            if (!searchValue) {
                searchValue = null;
            }
            if (!dropdown) {
                dropdown = null;
            }
            if ($(this).hasClass('partialbtn')) {
                btnnameglobal = btnName;
            //$('#filteradmin').val('0').change();

            //$(".searchrequest").removeClass("border");
            //$(".allbtn").addClass("border");
            //$('#searchInput').val('');

            }
            if ($(this).hasClass('partialbtn')) {

                statusidglobal = statusid;
                $("#hidden").val(statusidglobal);

            }


            console.log("Button clicked: " + btnnameglobal);


            console.log("Button clicked: " + statusidglobal);
            console.log(searchValue);
            console.log(reqtype);
            console.log(dropdown);


            // Make an AJAX request to get the partial view content

            $.ajax({
                url: '@Url.Action("GetPartialView", "Admin")',
                //url: '/Admin/GetPartialView?btn=' + btnName,
                method: 'GET',
                data: { btnName: btnnameglobal, statusid: statusidglobal, searchValue: searchValue, currentpage: 1, dropdown: dropdown, reqtype: reqtype },
                success: function (data) {
                    console.log("AJAX success");
                    // Replace the content of the btnContent div with the retrieved partial view
                    $("#btnContent").html(data);
                    //$(document).off("click", ".partialbtn", PartialDisplay);

                },
                error: function () {
                    console.error('Error fetching partial view.');
                }
            });
        console.log("fewa");
        console.log(statusidglobal);
        if (statusidglobal == 1) {
            var tabId = "(NEW)";
            $('#status').css('font-weight', 'bold').css('color', 'darkblue');
        }
        else if (statusidglobal == 2) {
            var tabId = "(PENDING)";
            $('#status').css('font-weight', 'bold').css('color', 'deepskyblue');
        }
        else if (statusidglobal == 3) {
            var tabId = "(ACTIVE)";
            $('#status').css('font-weight', 'bold').css('color', 'green');
        }
        else if (statusidglobal == 6) {
            var tabId = "(CONCLUDE)";
            $('#status').css('font-weight', 'bold').css('color', '#912261');

        }
        else if (statusidglobal == 5) {
            var tabId = "(TO CLOSE)";
            $('#status').css('font-weight', 'bold').css('color', '#0181f8');
        }
        else if (statusidglobal == 9) {
            var tabId = "(UNPAID)";
            $('#status').css('font-weight', 'bold').css('color', 'mediumslateblue');

        }
        $('#status').text(tabId);
        }
        $(document).on('click', '.tablink', TabLoad);

        function Pagination() {
            var currentpage = $(this).data('page');
            var btnName = "NewPartial";
            var statusid = 1;
            var searchvalue = $("#searchInput").val();
            //console.log(requestid);


            $.ajax({
                url: '/Admin/GetPartialView',
                data: { btnName: btnName, statusid: statusid, currentpage: currentpage, dropdown: dropdown, searchvalue: searchvalue },
                method: 'GET',
                success: function (data) {
                    // Replace the content of the btnContent div with the retrieved partial view
                    $("#btnContent").html(data);
                },
                error: function () {
                    console.error('Error fetching partial view.');
                }
            });
        }
        $(document).on('click', '.showmodal', ModalDisplay);
   
    
        $(document).on('click', '.partialbtn', PartialDisplay);
        $(document).on('change', '#filteradmin', PartialDisplay);
        $(document).on('click', '.searchrequest', PartialDisplay);
        $(document).on('keyup', '#searchInput', PartialDisplay);
        $(document).on('click', '.custompagination', Pagination);
        $(document).on('change', '.filterphysician', TabLoad);
        $(document).on('change', '#AccountType', TabLoad);
    $(document).on('change', '#adminaccountfilter', TabLoad);

        function ModalDisplay() {
            console.log("vidihiiiiiiiiiiiiii")
            var modalName = $(this).attr('id');
            var patientname = $(this).data('value1');
            var requestid = $(this).data('btn');

            if (!patientname) {
                patientname = null;
            }

            if (typeof requestid === 'undefined') {
                requestid = 0;
            }

            $.ajax({
                url: '@Url.Action("GetModalPartialView", "Admin")',
                method: 'GET',
                data: { modalName: modalName, patientname: patientname, requestid: requestid },
                success: function (data) {
                    console.log("AJAX success");

                    $('.modelbody').html(data);
                    //$('#' + modalName).modal('show');
                },
                error: function () {
                    console.error('Error fetching partial view.');
                }
            });
        }






</script>





