@using DataAccess.ViewModel;
@model AdminDashboard

<div class="table-responsive mt-3 d-md-block">
    <table class="table table-hover  admin-dashboard">

        <thead class="table-head align-middle">

            <tr>
                <th>Patient Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Create Date</th>
                <th>Notes</th>
                <th style="text-align:center">Is Active</th>
                <th>Actions</th>
            </tr>

        </thead>

        <tbody class="align-middle" id="email-log-table">

            @foreach (var record in Model.BlockedHistory)
            {
                <tr>
                    <td>@record.PatientName</td>
                    <td>@record.PhoneNumber</td>
                    <td>@record.Email</td>
                    <td>@record.CreatedDate</td>
                    <td>@record.Notes</td>
                    <td style="text-align:center">
                        <input type="checkbox" style="height:15px;width:15px" @(record.IsActive == new System.Collections.BitArray(1, true) ? "checked" : "") class="btn-outline-info" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-outline-info unblockreq" data-btn="@record.BlockedRequestID">Unblock</button>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
<script>
   
</script>
<script>
    $('.unblockreq').click(unblockreq);
        
  
</script>