@using DataAccess.CustomModels;
@model MainModel
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
    input[type=text]::-webkit-input-placeholder:after {
        content: '*';
        color: red;
    }
</style>
<div class="modal-header   " style="background-color:#75634f;">
    <h5 class="modal-title text-white" >  Task Form </h5>
   
</div>
<div class="modal-body m-auto">
   
    <form id="AssignRequestform" asp-action="Add" asp-controller="Assignment">
      
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="AddData.ProjectName" placeholder="Task Name"required />
                    @Html.ValidationMessageFor(Model=>Model.AddData.ProjectName,"",new{@class="text-danger"})

                </div>
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="AddData.Assignee" placeholder="Assignee" required />
                    @Html.ValidationMessageFor(Model=>Model.AddData.Assignee,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <input type="text" class="form-control" asp-for="AddData.Description" placeholder="Description" required />
                    @Html.ValidationMessageFor(Model=>Model.AddData.Description,"",new{@class="text-danger"})
                </div>
                <div class="col-lg-6">
                    <input type="date" class="form-control" asp-for="AddData.DueDate" placeholder="DueDate" required />
                    @Html.ValidationMessageFor(Model=>Model.AddData.DueDate,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                     <select id="selectId" class="form-select form-control ms-3 filteradmin " asp-for="AddData.City" aria-label="Default select example" required>
                    <option value="" selected>City</option>
                    <option value="Jaipur">Jaipur</option>
                    <option value="Ahmedabad">Ahmedabad</option>
                    <option value="Ujjain">Ujjain</option>
                        <option value="Rajkot">Rajkot</option>

                    </select>
                    @Html.ValidationMessageFor(Model=>Model.AddData.City,"",new{@class="text-danger"})
                </div>
                <div class="col-lg-6">
                   
                    <input type="text" class="form-control" asp-for="AddData.Domain" placeholder="Domain" required />
                    @Html.ValidationMessageFor(Model=>Model.AddData.Domain,"",new{@class="text-danger"})
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-lg-6">
                    <button class="btn btn-secondary" data-bs-dismiss="modal"  type="button">Cancel</button>
                </div>
                <div class="col-lg-6">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
            
          

        </div>
       
    </form>
</div>
