@using DataAccess.ViewModel
@model AdminDashboard
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<div class="modal-header bg-info ">
    <h5 class="modal-title text-white" id="exampleModalLabel"> Assign Request  </h5>
    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body m-auto">
    <div class="mb-3 text-secondary">
        To assign this request, search and select  another Physician.
    </div>
    <form method="post" action='@Url.Action("AssignReq", "Admin",new {requestid=Model.requestid})'>
    @* <div class="dropdown my-3  ">
            <select class="form-select" id="regionName"  aria-label="Floating label select example" required>
                
            @if (Model.Regions != null)
            {
                    <option  selected style="display:none">Narrow Down Region Name  <span class="text-danger"> *</span></option>
                   
                   
                @foreach (var item in Model.Regions)
                {
                        <span class="text-danger"> *</span>
                    <option value="@item.Regionid">@item.Name</option>

                }
            }
        </select>
          
    </div> *@
        <div class="dropdown my-3">
            <select class="form-select" id="regionName" asp-for="@Model.assignreq.RegionItems" aria-label="Floating label select example" required>
                <option value="" selected disabled hidden>Narrow Down Region Name <span class="text-danger">*</span></option>
                @if (Model.Regions != null)
                {
                    foreach (var item in Model.Regions)
                    {
                        <option value="@item.Regionid">@item.Name</option>
                    }
                }
            </select>
            @Html.ValidationMessageFor(Model => Model.assignreq.RegionItems, "", new { @class = "text-danger" })
        </div>
    <div class="dropdown my-3  ">
        <select class="form-select" id="Physician" asp-for="@Model.assignreq.physicianname" aria-label="Floating label select example" required>

                <option disabled selected style="display:none">Select Physician  <span class="text-danger"> *</span></option>
            
        </select>
            @Html.ValidationMessageFor(Model=>Model.assignreq.physicianname,"",new{@class="text-danger"})
    </div>

    <div class="form-floating my-4">
        <textarea class="form-control" asp-for="assignreq.Description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px" required></textarea>

            <label for="floatingTextarea2" class="text-secondary" id="label-floating">Description  <span class="text-danger"> *</span></label>
           
            @Html.ValidationMessageFor(Model=>Model.assignreq.Description,"",new{@class="text-danger"})
    </div>
    <div class="d-flex justify-content-end">
        <button type="submit" class="btn-back btn btn-outline-info btn-lg p-2 px-4 me-3 info-button me-2 ">Submit</button>
        <button type="button" class="btn-back btn btn-outline-info btn-lg p-2 px-4 button-info" data-bs-dismiss="modal" id="cancel">Cancel</button>
    </div>
    </form>
</div>
<script>
    $(document).on('change', '#regionName', function () {
        var selectedvalue = $(this).val();  

        $.ajax({
            url: '@Url.Action("GetDropDown", "Admin")',
            type: 'POST',
            data: { selectedvalue: selectedvalue },
            success: function (data) {
                //var secondDropdown = '<select id="secondDropdown">';
                //$.each(data, function (index, item) {
                //    secondDropdown += '<option>' + item + '</option>';
                //});
                //secondDropdown += '<option disabled selected style="display:none">Select Physician</option></select>';
                //$('#secondDropdownContainer').html(secondDropdown);
                console.log("AJAX success");
                var physician = '';
                $.each(data, function (index, physicians) {
                   
                    physician += '<option>' + physicians + '<option>'

                //    $("#Physician").append('<option value="' + Physician + '">' + Physician + '</option>');
                });

                $('#Physician').html(physician);     
                
            },
            error: function () {
                console.error('Error fetching partial view.');
            }
        });


    });
</script>
@* <script>
    $(document).ready(function () {
        $('#regionName').on('change', function () {
            var selectedRegion = $(this).val();
            if (!selectedRegion) {
                $('#regionName').addClass('is-invalid');
                $('#regionName-error').text('Please select a region.');
            } else {
                $('#regionName').removeClass('is-invalid');
                $('#regionName-error').text('');
            }
        });
    });
</script> *@