@using DataAccess.ViewModel;
@model AdminDashboard


@if (Model.Dashboards != null && Model.Dashboards.Count() > 0)
{

    <table class="table table-responsive  m-4 p-3 overflow-scroll ">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Name <i class="bi bi-arrow-down"></i></th>
                <th scope="col">Date Of Birth</th>

                <th scope="col">Requstor</th>
                <th scope="col">Requested Date <i class="bi bi-arrow-down"></i></th>
                <th scope="col">Phone</th>

                <th scope="col">Address</th>
                <th scope="col" class="">Notes <i class="bi bi-arrow-down"></i></th>
                <th scope="col">Chat With</th>

                <th scope="col">Actions</th>

            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                @foreach (var items in Model.Dashboards)
                {
                    var bgcolor = "red";
                    if (items.RequestTypeid == 1)
                    {
                        bgcolor = "green";

                    }
                    if (items.RequestTypeid == 2)
                    {
                        bgcolor = "#f59b42";

                    }
                    if (items.RequestTypeid == 3)
                    {
                        bgcolor = "purple";

                    }

                    if (items.RequestTypeid == 4)
                    {
                        bgcolor = "#0181f8";

                    }
                      <tr style="background: @bgcolor" class="text-white">
                        <td>@items.Name</td>
                        <td>@items.StrMonth @items.IntDate , @items.IntYear</td>
                        <td>@items.Requestor</td>
                        <td>@items.RequestedDate</td>
                      
                        @if (items.PatientPhone != null)
                        {
                            <td>
                                @if (@items.RequestTypeid == 1)
                                {
                                    <button class="btn border text-white"><i class="bi bi-telephone"></i> @items.PatientPhone </button>
                                    <br />
                                    <span>(Patient)</span>
                                }
                                else if (@items.RequestTypeid == 2)
                                {
                                    <button class="btn border text-white"><i class="bi bi-telephone"></i> @items.PatientPhone</button>
                                    <br />

                                    <span>(Ptient)</span> <br />

                                    <button class="btn border text-white"><i class="bi bi-telephone"></i> @items.RequestorPhone</button>
                                    <br />

                                    <span>(Family/Freind)</span> <br />
                                }
                                else if (@items.RequestTypeid == 4)
                                {
                                    <button class="btn border text-white"><i class="bi bi-telephone"></i> @items.PatientPhone</button>
                                    <br />

                                    <span>(Ptient)</span> <br />

                                    <button class="btn border text-white"><i class="bi bi-telephone"></i>  @items.RequestorPhone</button>
                                    <br />

                                    <span>(Business)</span> <br />
                                }
                                else if (@items.RequestTypeid == 3)
                                {
                                    <button class="btn border text-white"><i class="bi bi-telephone"></i> @items.PatientPhone</button>
                                    <br />

                                    <span>(Ptient)</span> <br />

                                    <button class="btn border text-white"><i class="bi bi-telephone"></i>  @items.RequestorPhone</button>
                                    <br />

                                    <span>(Concierge)</span> <br />
                                }
                            </td>
                        }
                      
                        <td>@items.Address</td>
                        <td>@items.Notes</td>
                        <td><button type="button" class="btn  border border-white text-white">Provider</button></td>
                
                   @* <tr style="background: @bgcolor" class="text-white">
                        <td>@items.Name</td>
                        <td>@items.StrMonth @items.IntDate , @items.IntYear</td>
                        <td>@items.Requestor</td>
                        <td>@items.RequestedDate</td>

                        <td>@items.Address</td>
                        <td>@items.Notes</td>
                        <td><button type="button" class="btn  border border-white text-white">Provider</button></td>
*@

                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn  border border-white text-white dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Action
                                </button>
                                <div class="dropdown-menu">
                                        <a class="dropdown-item showmodal" data-bs-toggle="modal" data-bs-target="#modeldiv" id="AssignRequest" data-btn="@items.requestid">
                                            <i class="bi bi-journals"></i>
                                            Assign Case
                                        </a>
                                    @*<button class="dropdown-item showmodal" data-modal="CancelCase"  id="CancelCase">Cancel Case</button>*@
                                    <a class="case dropdown-item showmodal" data-bs-toggle="modal" data-bs-target="#modeldiv" id="CancelCase" data-btn="@items.requestid" data-value1="@items.Name">
                                        <i class="bi bi-journal-text"></i>
                                        Cancel Case
                                    </a>
                                    <a class="dropdown-item tablink " id="ViewCase" data-btn="@items.requestid" data-value1="@Model.ConfirmationNo"> <i class="fa fa-list"></i>View Case</a>
                                    <a class="dropdown-item tablink " id="ViewNotes" data-btn="@items.requestid"> <i class="fa fa-list"></i>View Notes</a>

                                    <button class="case dropdown-item showmodal" data-bs-toggle="modal" data-bs-target="#modeldiv" id="BlockCase" data-btn="@items.requestid" data-value1="@items.Name">
                                        <i class="bi bi-ban"></i>
                                        Block Case
                                    </button>
                                </div>
                            </div>
                        </td>

                   </tr> 
                }
            }
        </tbody>

    </table>
}
else
{
    <div class="d-flex justify-content-center align-items-center pt-5">
        <strong class="fs-2 fw-normal text-center  text-secondary "> No Data Found </strong>
    </div>
}
<div class="mb-0 fixed-bottom m-4">
    <ul class="pagination align-items-center">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item"><a class="page-link custompagination" data-page="@(Model.CurrentPage - 1)">Previous</a></li>
        }
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">

                <a class="page-link custompagination" href="#" data-page="@i">@i</a>
            </li>
        }
        @if (Model.CurrentPage < Model.TotalPages)
        {
            <li class="page-item"><a class="page-link custompagination" href="#" data-page="@(Model.CurrentPage + 1)">Next</a></li>
        }
    </ul>
</div>
<div class="modal fade  col-sm-12" id="modeldiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered ">
        <div class="modelbody modal-content"></div>
    </div>
</div>
<script>
    
   
   
        //$(".tablink").click(function () {
        //    var TabId = $(this).attr("id");
        //    var requestid = $(this).data('btn');
        //if (typeof requestid === 'undefined') {
        //    requestid = 0;
        //}
        //    //var statusid=$(this).data('value1');
        //    //console.log(requestid);
        //    $.ajax({
        //        url: '/Admin/GetTabs',
        //        data: { Tabid: TabId, requestid: requestid, statusid: statusidglobal },
        //        method: 'GET',
        //        success: function (data) {

        //            $("#TabContent").html(data);
        //        },
        //        error: function () {
        //            console.error('Error fetching partial view.');
        //        }
        //    });
        //});
       
   

   
   
       
        //$(".custompagination").click(function () {

        //    var currentpage = $(this).data('page');
        //    var btnName = "NewPartial";
        //    var statusid = 1;
        //    var searchvalue = $("#searchInput").val();
        //    //console.log(requestid);


        //    $.ajax({
        //        url: '/Admin/GetPartialView',
        //        data: { btnName: btnName, statusid: statusid, currentpage: currentpage, searchvalue: searchvalue },
        //        method: 'GET',
        //        success: function (data) {
        //            // Replace the content of the btnContent div with the retrieved partial view
        //            $("#btnContent").html(data);
        //        },
        //        error: function () {
        //            console.error('Error fetching partial view.');
        //        }
        //    });
        //});
       
   



   
        //$(".tablink").click(function () {
        //    var tabid = $(this).attr("id");
        //    var requestid = $(this).data('btn');
        //    console.log(requestid);
        //    $.ajax({
        //        url: '/admin/gettabs',
        //        data: { tabid: tabid, requestid: requestid },
        //        method: 'get',
        //        success: function (data) {
        //            // replace the content of the btncontent div with the retrieved partial view
        //            $("#tabcontent").html(data);
        //        },
        //        error: function () {
        //            console.error('error fetching partial view.');
        //        }
        //    });
        //});
       
   
</script>
