@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

@using DataAccess.ViewModel
@model AdminDashboard
<style>
    .required {
        color: red;
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        left: -10000px;
        overflow: hidden;
    }
</style>
<div class="modal-header bg-info">
    <h5 class="modal-title text-white" id="exampleModalLabel"> Transfer Request  </h5>
    <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body m-auto">
    <div class="mb-3 text-secondary">
        To transfer this request, search and select  another Physician.
    </div>
    <form  id="submittransfer" >
        <input asp-for="@Model.requestid" hidden />
        <div class="dropdown my-3  ">
            <div class="form-floating">
                <select class="form-select" id="regionName" asp-for="@Model.transferreq.Region" aria-label="Floating label select example">
                    <option value="" selected disabled>Narrow Down Region Name <span class="text-danger">*</span></option>
                    @if (Model.Regions != null)
                    {

                        @foreach (var item in Model.Regions)
                        {
                            <option id="regionName" value="@item.Regionid">@item.Name</option>


                        }

                    }
                </select>
                <label for="floatingSelect">Narrow Down Region Name</label>
            </div>
            @Html.ValidationMessageFor(Model => Model.transferreq.Region, "", new { @class = "text-danger" })
            
            <div class="dropdown my-3  ">
                <div class="form-floating">
                    <select class="form-select" id="Physician" asp-for="@Model.transferreq.physicianname" aria-label="Floating label select example" required>

                        <option value="" disabled selected>Select Physician  <span class="text-danger"> *</span></option>

                    </select>
                    <label for="floatingSelect">Select Physician </label>
                </div>
                @Html.ValidationMessageFor(Model=>Model.transferreq.physicianname,"",new{@class="text-danger"})
            </div>

            <div class="form-floating my-4">
                <textarea class="form-control" asp-for="transferreq.Description" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>

                <label for="floatingTextarea2" class="text-secondary" id="label-floating">Description </label>
                @Html.ValidationMessageFor(Model=>Model.transferreq.Description,"",new{@class="text-danger"})

            </div>
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn-back btn btn-outline-info btn-lg p-2 px-4 me-3 info-button me-2 transferrequest">Submit</button>
                <button type="button" class="btn-back btn btn-outline-info btn-lg p-2 px-4 button-info" data-bs-dismiss="modal" id="cancel">Cancel</button>
            </div>
            <p aria-hidden="true" id="required-description">
                <span class="required">*</span>Required field
            </p>
    </form>
</div>
<script>
    $('#submittransfer').on('submit', function (e) {
        e.preventDefault();

        if (!$('#submittransfer')[0].checkValidity()) {
            return;
        }

        

        var data = new FormData(this);

         $.ajax({
            url: "/Admin/TransferReq",
            type: "Post",
            data: data,
            processData: false,
            contentType: false,
            success: function (result) {
                $('#modeldiv').modal('hide');
                if (result.success) {
                //$("#").html(result);
                // $('#accounttype').val(0);
                // $('#rolename').val('');
                // $('.check_menu:checked').prop('checked', false);
                // form.classlist.remove('was-validated');
                $("#Dashboard").click();
                //toastr.error("Case Transferred Successfully");
                }
            },
            error: function () {
                toastr.error("Error whiletransferring request");
            }
        });

    });

    $(document).on('change', '#regionName', function () {
        var selectedvalue = $(this).val();

        $.ajax({
            url: '@Url.Action("GetDropDown", "Admin")',
            type: 'POST',
            data: { selectedvalue: selectedvalue },
            success: function (data) {
                //var secondDropdown = '<select id="secondDropdown">';
                //$.each(data, function (index, item) {
                //    secondDropdown += '<option>' + item + '</option>';
                //});
                //secondDropdown += '<option disabled selected style="display:none">Select Physician</option></select>';
                //$('#secondDropdownContainer').html(secondDropdown);
                console.log("AJAX success");
                if (data.length === 0) {
                    // Clear the current options and add a "No physician available" option
                    $('#Physician').empty();
                    $('#Physician').append('<option disabled selected style="display:none">No physician available</option>');

                }
                else{
                var physician = '';
                $.each(data, function (index, physicians) {

                    physician += '<option>' + physicians + '<option>'

                    //    $("#Physician").append('<option value="' + Physician + '">' + Physician + '</option>');
                });

                $('#Physician').html(physician);
                }

            },
            error: function () {
                console.error('Error fetching partial view.');
            }
        });


    });

    //$(document).ready(function () {
    //    console.log("dewWE");
    //    $('#submittransfer ').submit(function (event) {
    //        console.log("hdjks")
    //        var selectedValue = $('#regionName').val();
    //        console.log("region");
    //        if (selectedValue === '') {
    //            console.log("hrejej");
    //            $('#regionNameError').html('Please select a region.');
    //            event.preventDefault(); // Prevent form submission
    //        }
    //    });
    //});
    //$(document).ready(function () {
    //    console.log("dewWE");
    //    $('#submittransfer ').submit(function (event) {
    //        console.log("hdjks")
    //        var selectedValue = $('#regionName').val();
    //        console.log(selectedValue)
    //        console.log("region");
    //        if (selectedValue === '') {
    //            console.log("hrejej");
    //            $('#regionNameError').html('Please select a region.');
    //            event.preventDefault(); // Prevent form submission
    //        }
    //    });
    //});
</script>

