@using DataAccess.ViewModel;
@model AdminDashboard

@if (Model.eventModel != null && Model.eventModel.Count() > 0)
{
    <div class="overflow-scroll d-none d-md-block">
        <table class="table table-responsive my-3">
            <thead>
                <tr class="bg-light">
                    <th scope="col"> <input type="checkbox" id="selectAll" /> </th>
                    <th scope="col">Staff <span></th>
                    <th scope="col">Day</th>
                    <th scope="col">Time</th>
                    <th scope="col">Region </th>
                </tr>
            </thead>

            <tbody id="tableBody">
                @foreach (var item in Model.eventModel)
                {
                    var s = item.Starttime;
                    DateTime dt = DateTime.Parse(s);
                    var startTime = dt.ToString("HH:mm:ss");

                    var e = item.Endtime;
                    DateTime edt = DateTime.Parse(e);
                    var endTime = edt.ToString("HH:mm:ss");

                    if (item.Status == 1)
                    {
                        <tr>
                            <td> <input type="checkbox" class="checkbox" name="checkbox" value="@item.Shiftdetailid" /> </td>
                            <td>@item.PhysicianName</td>
                            <td>@item.Shiftdate</td>
                            <td>@startTime - @endTime</td>
                            <td>@item.Regionname </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
else
{
    <div class="d-flex justify-content-center align-items-center pt-5">
        <strong class="fs-3 fw-normal text-center text-secondary"> Shift Not Found </strong>
    </div>
}

<script>
    $("#selectAll").change(function () {
        $(".checkbox").prop('checked', $(this).prop("checked"));
    });
</script>