@using DataAccess.ViewModel;
@model ProviderDash

<div class="row justify-content-center mb-5 pb-5">
    <div class="m-4 me-5 mb-0 text-end col-xl-6 col-md-8 col-11">
        <a class="text-decoration-none text-info rounded border border-info p-2 invoicing-tab">
            <i class="bi bi-chevron-left text-info"></i>
            Back
        </a>
    </div>

    <div class="m-4 p-0 pt-3 shadow col-xl-6 col-md-8 col-11">
        <form id="SaveTimeSheet">
            <table class="table" id="invoiceTable">
                <thead>
                    <tr class="d-none d-xl-table-row d-md-table-row">
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Date </p> </th>
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> On Call Hours </p> </th>
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Total Hours </p> </th>
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Weekend/ Holiday </p> </th>
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Number of Housecalls </p> </th>
                        <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Number of Phone Consults </p> </th>
                    </tr>
                </thead>

                <tbody id="tableBody">
                    @foreach (var i in Model.InvoicingModel)
                    {
                        <tr class="d-none d-xl-table-row d-md-table-row">
                            <td class="date">
                                @i.Date
                            </td>
                            <td>
                                @i.OnCallHours
                            </td>
                            <td>
                                <input type="text" class="form-control totalHours" value="@i.TotalHours" />
                            </td>
                            <td>
                                @if (i.isWeekEnd)
                                {
                                    <input type="checkbox" class="checkbox" name="checkbox" checked />
                                }
                                else
                                {
                                    <input type="checkbox" class="checkbox" name="checkbox" />
                                }
                            </td>
                            <td>
                                <input type="text" class="form-control housecall" value="@i.HouseCall" />
                            </td>
                            <td>
                                <input type="text" class="form-control consult" value="@i.Consult" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="text-end mb-2 me-2">
                <button class="btn btn-info text-light" type="submit">Submit</button>
            </div>
        </form>
    </div>

    <div class="m-4 mt-2 col-xl-6 col-md-8 col-11">
        <button class="btn btn-info text-light" type="button" onclick="ShowRecipts()">Add Receipts</button>
    </div>

    <div class="m-4 p-0 pt-3 shadow col-xl-6 col-md-8 col-11" id="Recipts" style="display:none">
        <table class="table" id="ReciptsTable">
            <thead>
                <tr class="d-none d-xl-table-row d-md-table-row">
                    <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Date </p> </th>
                    <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Item </p> </th>
                    <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Amount </p> </th>
                    <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Bill </p> </th>
                    <th scope="col" class="bg-secondary-subtle align-middle fw-semibold"> <p> Action </p> </th>
                </tr>
            </thead>

            <tbody id="tableBody">
                @foreach (var i in Model.InvoicingModel)
                {
                    <tr class="d-none d-xl-table-row d-md-table-row">
                        <td class="date">
                            @i.Date
                        </td>
                        <td>
                            @if (i.BillName == "" || i.Item == "" || i.Amount == 0)
                            {
                                <input type="text" class="form-control item" name="item" value="@i.Item" />
                            }
                            else
                            {
                                <input type="text" class="form-control input-@i.Date item" name="item" value="@i.Item" disabled />
                            }
                        </td>
                        <td>
                            @if (i.BillName == "" || i.Item == "" || i.Amount == 0)
                            {
                                <input type="text" class="form-control amount" name="amount" value="@i.Amount" />
                            }
                            else
                            {
                                <input type="text" class="form-control input-@i.Date amount" name="amount" value="@i.Amount"  disabled/>
                            }
                        </td>
                        <td>
                            @if (i.BillName == "" || i.Item == "" || i.Amount == 0)
                            {
                                <div class="input-group mb-3">
                                    <input type="file" accept=".pdf" class="form-control file" id="document-@i.Date" hidden onchange="upload(this, '@i.Date')">
                                    <label class="input-group-text border-0 col-12 p-0 rounded" for="document-@i.Date" name="bill">
                                        <div class="border rounded col-8 p-2 text-start">
                                            <span id="upload-@i.Date">Select Photo</span>
                                        </div>
                                        <div class="btn border bg-info col-4 text-light p-2">
                                            <i class="bi bi-cloud-arrow-up pe-1 text-light"></i>
                                            <span class="d-none d-xl-inline d-lg-inline">Upload</span>
                                        </div>
                                    </label>
                                </div>
                            }
                            else
                            {
                                <p id="nameTag-@i.Date">@i.BillName</p>
                                <div class="input-group mb-3" id="fileDiv-@i.Date" style="display: none">
                                    <input type="file" accept=".pdf" class="form-control file" id="document-@i.Date" hidden onchange="upload(this, '@i.Date')">
                                    <label class="input-group-text border-0 col-12 p-0 rounded" for="document-@i.Date" name="bill">
                                        <div class="border rounded col-8 p-2 text-start">
                                            <span id="upload-@i.Date">Select Photo</span>
                                        </div>
                                        <div class="btn border bg-info col-4 text-light p-2">
                                            <i class="bi bi-cloud-arrow-up pe-1 text-light"></i>
                                            <span class="d-none d-xl-inline d-lg-inline">Upload</span>
                                        </div>
                                    </label>
                                </div>
                            }
                        </td>
                        <td class="text-center">
                            @if (i.BillName == "" || i.Item == "" || i.Amount == 0)
                            {
                                <button class="btn border border-info text-info SaveRecipt" type="button">Save</button>
                            }
                            else
                            {
                                <div class="d-flex">
                                    <button class="btn border border-info text-info me-2 SaveRecipt" id="saveBtn-@i.Date" type="button" style="display: none">Save</button>
                                    <button class="btn border border-info text-info me-2" id="cancelBtn-@i.Date" type="button" onclick="HideButton('@i.Date')" style="display: none">Cancel</button>
                                    <button class="btn border border-info text-info me-2" id="editBtn-@i.Date" type="button" onclick="ShowButton('@i.Date')">Edit</button>
                                    <button class="btn border border-info text-info me-2 DeleteReceipt" id="deleteBtn-@i.Date" type="button">Delete</button>
                                    @{
                                        var filename = $"{i.Date}.pdf";
                                    }
                                    <a class="btn border border-info text-info" id="viewBtn-@i.Date" href="~/invoicing/@i.physicianid/@filename" target="_blank">View</a>
                                </div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="m-4 mt-2 col-xl-6 col-md-8 col-11 text-end">
        <button class="btn btn-info text-light" id="FinalizeBtn" type="button">Finalize</button>
    </div>
</div>

<script>
    // script for file upload name
    function upload(file, date) {
        var name = file.files[0].name;
        var id = "upload-" + date;
        var span = document.getElementById(id);
        span.innerHTML = name;
    }

    function ShowRecipts() 
    {
        var btn = document.getElementById("Recipts");
        if(btn.style.display == 'none')
        {
             btn.style.display = 'block';
        }
        else
        {
            btn.style.display = 'none';
        }
    }

    $('#SaveTimeSheet').on('submit', function (e) {
        e.preventDefault();

        var invoicingModels = [];

        $('#invoiceTable tbody tr').each(function () {
            var Date = $(this).find('.date').text().trim();
            var TotalHours = $(this).find('input.totalHours').val();
            var isWeekEnd = $(this).find('input.checkbox').prop('checked');
            var HouseCall = $(this).find('input.housecall').val();
            var Consult = $(this).find('input.consult').val();

            var invoice = {
                Date: Date,
                TotalHours: TotalHours,
                isWeekEnd: isWeekEnd,
                HouseCall: HouseCall,
                Consult: Consult
            };
            invoicingModels.push(invoice);
        });

        var start = '@Model.startDate';
        
        $.ajax({
            url: "/Provider/SaveTimeSheet",
            type: "Post",
            data: { invoicingModels: invoicingModels },
            success: function (result) {
                if (result.success) {
                    $.ajax({
                        url: "/Provider/LoadFinalizeInvoicing",
                        type: "Post",
                        data: {
                            startDate: start
                        },
                        success: function (result) {
                            $('#dashboard').html(result);
                        }
                    });
                    toastr.success("Data Saved!");
                }
                else {
                    toastr.error("Please provide valid data.");
                }
            }
        });
    });

    $('.SaveRecipt').on('click', function () {
        var Date = $(this).closest('tr').find(".date").text().trim();
        var Item = $(this).closest('tr').find(".item").val();
        var Amount = $(this).closest('tr').find(".amount").val();
        var file = $(this).closest('tr').find(".file")[0].files[0];
        var start = '@Model.startDate';
        
        var fd = new FormData();
        fd.append('StartDate', start);
        fd.append('Bill', file);
        fd.append('Date', Date);
        fd.append('Item', Item);
        fd.append('Amount', Amount);

        $.ajax({
            url: "/Provider/SaveReimbursement",
            type: "Post",      
            data: fd,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    $.ajax({
                        url: "/Provider/LoadFinalizeInvoicing",
                        type: "Post",
                        data: {
                            startDate: start
                        },
                        success: function (result) {
                            $('#dashboard').html(result);
                        }
                    });
                    toastr.success("Data Saved!");
                }
                else {
                    toastr.error("Please provide valid data.");
                }
            }
        });
    });

    function ShowButton(date) {
        var classname = 'input-' + date;
        let input = document.getElementsByClassName(classname);
        for (var i = 0; i < input.length; i++) {
            input[i].disabled = false;
        }

        var saveBtn = document.getElementById('saveBtn-' + date);
        saveBtn.style.display = 'inline';
        
        var cancelBtn = document.getElementById('cancelBtn-' + date);
        cancelBtn.style.display = 'inline';

        var editBtn = document.getElementById('editBtn-' + date);
        editBtn.style.display = 'none';

        var deleteBtn = document.getElementById('deleteBtn-' + date);
        deleteBtn.style.display = 'none';

        var viewBtn = document.getElementById('viewBtn-' + date);
        viewBtn.style.display = 'none';

        var nameTag = document.getElementById('nameTag-' + date);
        nameTag.style.display = 'none';

        var fileDiv = document.getElementById('fileDiv-' + date);
        fileDiv.style.display = 'inline';
    }

    function HideButton(date) {
        var classname = 'input-' + date;
        let input = document.getElementsByClassName(classname);
        for (var i = 0; i < input.length; i++) {
            input[i].disabled = true;
        }

        var saveBtn = document.getElementById('saveBtn-' + date);
        saveBtn.style.display = 'none';

        var cancelBtn = document.getElementById('cancelBtn-' + date);
        cancelBtn.style.display = 'none';

        var editBtn = document.getElementById('editBtn-' + date);
        editBtn.style.display = 'inline';

        var deleteBtn = document.getElementById('deleteBtn-' + date);
        deleteBtn.style.display = 'inline';

        var viewBtn = document.getElementById('viewBtn-' + date);
        viewBtn.style.display = 'inline';

        var nameTag = document.getElementById('nameTag-' + date);
        nameTag.style.display = 'inline';

        var fileDiv = document.getElementById('fileDiv-' + date);
        fileDiv.style.display = 'none';
    }

    $('.DeleteReceipt').on('click', function () {
        var Date = $(this).closest('tr').find(".date").text().trim();
        var Item = $(this).closest('tr').find(".item").val();
        var Amount = $(this).closest('tr').find(".amount").val();
        var file = $(this).closest('tr').find(".file")[0].files[0];
        var start = '@Model.startDate';

        var fd = new FormData();
        fd.append('StartDate', start);
        fd.append('Date', Date);
        fd.append('Item', Item);
        fd.append('Amount', Amount);

        $.ajax({
            url: "/Provider/DeleteReceipt",
            type: "Post",
            data: fd,
            processData: false,
            contentType: false,
            success: function (result) {
                if (result.success) {
                    $.ajax({
                        url: "/Provider/LoadFinalizeInvoicing",
                        type: "Post",
                        data: {
                            startDate: start
                        },
                        success: function (result) {
                            $('#dashboard').html(result);
                        }
                    });
                    toastr.success("Data Saved!");
                }
                else {
                    toastr.error("Please provide valid data.");
                }
            }
        });
    });
    $('#FinalizeBtn').on('click', function () {
        var start = '@Model.startDate';

        $.ajax({
            url: "/Provider/FinalizeTimesheet",
            type: "Post",
            data: { startDate: start },
            success: function (result) {
                if (result.success) {
                    $.ajax({
                        url: "/Provider/LoadInvoicingTab",
                        type: "Post",
                        success: function (result) {
                            $('#TabBody').html(result);
                        }
                    });
                    toastr.success("Timesheet Finalized!!");
                }
                else {
                    toastr.error("Could not finalize timesheet.");
                }
            }
        });
    });
</script>
